* {
  background-color: #252424;
  font-family: "Tilt Neon";
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.subject-button {
  font-size: 2em;
  color: black;
  padding: 15px 30px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.subject-button.active {
  outline: 6px solid yellow;
}

.board {
  margin-top: 75px;
  gap: 20px;
  background-color: #252424;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tilt Neon", sans-serif;
}

.top-section {
  background-color: #333333;
  border-radius: 47px;
  width: 100%;
  margin-top: 35px;
  padding: 20px;
  text-align: center;
}

.title {
  background-color: #333333;
  color: white;
  font-size: 50px;
}

.count-box {
  background-color: #b1b2b5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 47px;

  font-size: 32px;
  color: black;
}

.count-description {
  margin-top: 10px;
  background-color: #333333;
  color: white;
  font-size: 10px;
}
.course-button {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  background-color: #525f5e;
  border-radius: 47px;
  color: #f2f2f2;
  font-size: 73px;
  text-align: center;
}

.bunks-section {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}

.bunks-text {
  color: white;
  font-size: 62px;
  width: 100%;
  text-align: center;
}
.available {
  font-size: 18px;
  margin-top: -13px;
  margin-right: 35px;
}
.bunks-count {
  background-color: #b1b2b5;
  box-sizing: border-box;
  border-radius: 100%;
  margin-left: 20px;
  width: 175px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 104px;
  color: #d55050;
}
.bunk-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  cursor:default ;
}

.bunk-button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
.bunk-button {
  background-color: white;
  border-radius: 47px;
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 106px;
  color: black;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}
